
{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block body %}
<span><img src="/static/about1.jpg" alt=""></span>
<span style="font-size: xx-large; vertical-align: 188px; margin-left: 270px;">About US</span>
<span style="font-size: small;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore laborum, aut saepe iste nemo esse in quibusdam non voluptate nobis corrupti dignissimos sit temporibus quis labore ex culpa. Architecto molestiae illo optio assumenda iusto, qui similique culpa libero, reprehenderit ratione iste temporibus facere aliquid suscipit ea! Saepe vel cupiditate aperiam. Error praesentium dicta doloribus possimus nam reiciendis, tenetur nobis earum, ut odit beatae impedit sequi esse! Nihil veritatis, voluptatum, delectus error numquam ratione porro magnam asperiores et similique, accusamus voluptate suscipit obcaecati vero consequatur necessitatibus reiciendis odit itaque accusantium quo? Dolor provident dolorum, corporis voluptates ipsum eligendi blanditiis accusantium reiciendis, ex pariatur maxime aliquid. Perspiciatis nobis consectetur repellat reiciendis quos architecto obcaecati molestias tenetur recusandae cupiditate? Eveniet illo assumenda vel!</span>
{% endblock body %}