{% extends 'base.html' %}

{% block title %}Registration{% endblock title %}

{% block body %}
<style>
  .container {
    background-image: url("/static/icecrm1.jpg");
    background-size: cover;
    padding: 9.5px;
    max-width: 100%;
  }

  .form-pad{
    padding-top: 2%;
    padding-bottom: 4%;
  }
  .form-group{
    margin-left: 20%;
    margin-right: 20%;
  }
  .form-label{
    font-size:larger;
    font-weight: 500;
  }
</style>
<div class="container">

  <h3 class="text-center my-2 "><u>Registration</u></h3>
  <form method="post" action="registration">
    {% csrf_token %}
    <div class="form-pad">
      <div class="form-group">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" name="name">
      </div>

      <div class="form-group">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email" name="email">
      </div>

      <div class="form-group">
        <label for="phone" class="form-label">Phone</label>
        <input type="Phone" class="form-control" id="phone" name="phone">
      </div>

      <div class="form-group">
        <label for="gstin" class="form-label">GSTIN</label>
        <input type="gstin" class="form-control" id="gstin" name="gstin">
      </div>

      <div class="form-group">
        <label for="address" class="form-label">Address</label>
        <textarea class="form-control" id="address" rows="3" name="address"></textarea>
      </div>
      <button type="submit" class="btn btn-success my-4" style="margin-left: 50%;">Submit</button>
    </div>
    
  </form>
  {% endblock body %}